$primary-color: rgb(246, 126, 125);
$secondary-color: rgb(255, 186, 151);
$white: rgb(255, 255, 255);
$gray: rgb(237, 237, 237);
$black: rgb(0, 0, 0);
$blue: rgb(109, 187, 255);

// General

body {
  background: $primary-color;
  font-family: 'Poppins', sans-serif;
}

hr {
  margin: 0;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

// Home View

.home-view {
  display: grid;
  grid-template-columns: 28rem 55rem 28rem;
  grid-template-rows: 9rem 43rem 3rem;
  grid-template-areas:
    'logo searchbar about'
    '. chatbot .'
    '. . .';
}

// Header

.project-logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-section {
  grid-area: searchbar;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background: $white;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 25px;

  .search-text {
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 100px;
    font-size: 2rem;
    padding: 15px;

    &::placeholder {
      font-size: 2rem;
      color: rgb(214, 214, 214);
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 15px $secondary-color;
    }
  }
}

.about-popup {
  grid-area: about;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.about-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Chat Bot

.container-chat {
  grid-area: chatbot;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 10% 1% 60% 1% 28%;
  grid-template-areas:
    '. botname .'
    'border1 border1 border1'
    '. messages .'
    'border2 border2 border2'
    '. replies .';

  background: $white;
  width: 60%;
  height: 90%;
  justify-self: center;
  border-radius: 25px;
}

.chat-header {
  grid-area: botname;
  justify-self: center;
  align-self: center;
}

.chat-name {
  display: flex;
  margin-top: 21px;
}

.chat-separator {
  &--top {
    grid-area: border1;
    align-self: center;
  }
  &--bottom {
    grid-area: border2;
    align-self: center;
  }
}

.container-chat-msg {
  grid-area: messages;
  overflow-y: scroll;
}

.chat-msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 14px;
  margin: 15px 20px;
  border-radius: 10px;
  position: relative;
  font-weight: 400;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }

  &--left {
    background: $gray;
    margin-right: 15rem;

    &:after {
      content: '';
      border-left: 10px solid $gray;
      width: 0;
      height: 0;
      left: -25px;
      top: 15px;
      transform: rotate(-90deg);
    }
  }

  &--right {
    background: $blue;
    margin-left: 15rem;

    &:after {
      content: '';
      border-right: 10px solid $blue;
      width: 0;
      height: 0;
      left: 208px;
      top: 15px;
      transform: rotate(90deg);
    }
  }

  & p {
    margin: 0;
  }
}

.container-chat-replies {
  grid-area: replies;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
}

.chat-replies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.chat-reply {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  background: none;
}

.hide-chat {
  display: none;
  transition: 0.5s all ease;
}

// Loader

.loader {
  grid-area: chatbot;
  display: flex;
  justify-content: center;
  align-items: center;

  & > span {
    display: inline-block;
    background-color: rgb(132, 59, 50);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.7s infinite alternate-reverse;
  }

  & > span:nth-child(2) {
    animation-delay: 0.2s;
  }

  & > span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bounce {
  to {
    transform: translate3d(0, -30px, 0);
    background-color: rgb(255, 185, 151);
  }
}

// Restaurant Card

.container-card {
  grid-area: chatbot;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    'name .'
    'img info';
  background-color: $white;
  box-shadow: 0px 0px 20px rgba(53, 53, 53, 0.918);
  border-radius: 10px;
  height: 50%;
  width: 80%;

  &-name {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: $black;

    &-container {
      grid-area: name;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-img {
    height: 90%;
    width: 90%;
    border-radius: 10px;

    &-container {
      grid-area: img;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-categories {
    font-size: 12px;
    padding-left: 7px;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &-price {
    font-size: 12px;
    padding-left: 7px;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &-rating {
    font-size: 12px;
    padding-left: 7px;

    &:nth-child(3) {
      padding-left: 3px;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &-distance {
    font-size: 12px;
    padding-left: 7px;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &-address {
    font-size: 12px;
    margin: 2px 0;
    padding-left: 7px;

    &-container {
      line-height: normal;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &-phone {
    font-size: 12px;
    padding-left: 7px;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &-ref {
    font-size: 12px;
    text-decoration: none;
    color: $black;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
